$slide-transition: 300ms cubic-bezier(0.25, 1, 0.5, 1);
$rotate-180-x: rotateX(180deg);

$gray-0: #f0f0f0;
$gray-1: #c4c7cc;
$gray-2: #8a9199;

$blue0: #f2f4ff;
$blue1: #dae1fe;
$blue2: #9ba9da;
$blue3: #7b8dd5;
